################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DocLinkSolution/.vs/DocLinkSolution.slnx/FileContentIndex/09c6c493-6a87-467a-ac9b-68e8011867a0.vsidx
